<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static/css/main.css')}}">
    <title>Лучникова Ирина</title>
</head>
<body>
    <div class="header">
        <h2>Menu</h2>
        <div class="topnav">{% block menu %}{% endblock%}</div>
    </div>
    <div class="text">{% block text %}{% endblock%}</div>
    <div class="footer">
        <p>Prod by Irina Luchnikova</p>
    </div>


</body>
</html>