<!DOCTYPE html>
<html>
<head>
    <title>Insert</title>
</head>
<body>
    <h1>Insert</h1>
    <form action="/insert" method="POST">
        <p><input type="text" name="name" required> Name</p>
        <p><input type="text" name="sname" required> Surname</p>
        <p><input type="text" name="grname" required> Group</p>
        <p><input type="text" name="sex" required> Sex</p>
        <p><input type="number" name="day" value="15" min="1" max="31" required> Day of Birth</p>
        <input type="submit" value="Insert">
    </form>
</body>
</html>
