{% extends 'base.html' %}

{% block menu %}
            <a href="home">home page</a>
            <a href="insert">insert</a>
            <a href="delete">delete</a>
            <a href="select">select by group</a>
            <a href="home">select by sex</a>
            <a href="home" style="float:right">create</a>
{% endblock %}

{% block text %}
    <h1>Insert</h1>
    <form action="/insert" method="POST">
        <p><input type="text" name="name" required> Name</p>
        <p><input type="text" name="sname" required> Surname</p>
        <p><input type="text" name="grname" required> Group</p>
        <p><input type="text" name="sex" required> Sex</p>
        <p><input type="number" name="day" value="15" min="1" max="31" required> Day of Birth</p>
        <input type="submit" value="Insert">
    </form>
{% endblock %}