{% extends 'base.html' %}

{% block menu %}
            <a href="home">home page</a>
            <a href="insert">insert</a>
            <a href="delete">delete</a>
            <a href="select" style="background-color: black">select by group</a>
            <a href="select_age">select by sex</a>
            <a href="home" style="float:right">create</a>
{% endblock %}

{% block text %}
    <h1>Select</h1>
    <form action="/select" method="POST">
        <div>
            <input type="radio" name="grname" value="iu4-11b"/>
            <label >iu4-11b</label>
            <input type="radio" name="grname" value="iu4-12b" />
            <label >iu4-12b</label>
            <input type="radio" name="grname" value="iu4-13b" checked/>
            <label >iu4-13b</label>
            <input type="radio" name="grname" value="rt2-11b" />
            <label >rt2-11b</label>
        </div>
        <p>Order by:</p>
        <p><input type="radio" name="order_by" value="DESC"> sort descending</p>
        <p><input type="radio" name="order_by" value="ASC" checked> sort ascending</p>
        <input type="submit" value="Select">
    </form>
    {% if data %}
    <table border="1px">
        <tr>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        {% for row in data %}
        <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}